<% include partials/header %>
  <div class="Login-form">
    <form>
      <input type="text" id="id" placeholder="Team Name">
      <input type="text" id="pwd" placeholder="Password">

      <button type="submit" id="button">Login</button>
      <button type="reset" id="button">Reset</button>
    </form>
  </div>
<% include partials/footer %>
